ALLOW_METHODS='*'
ALLOW_HEADERS='*'
ALLOW_ORIGINS="0.0.0.0"
ALLOW_CREDENTIALS=True
ENV=local

API_HOST="http://localhost"
API_PORT=9000
QWEN_API_BASE_URL="https://ollama.vni68.vn/api/"
QWEN_API_ENDPOINT="/generate"
QWEN_PROOFREAD_MODEL="qwen3-vl:4b"
QWEN_EXTRACT_MODEL="qwen3-vl:4b"
OLLAMA_HOST="http://127.0.0.1:11434"
OLLAMA_MODEL="deepseek-ocr:3b"

# DB connection pool settings
DB_POOL_SIZE=40         # Persistent connections
DB_MAX_OVERFLOW=10      # Extra temporary connections
DB_POOL_TIMEOUT=10      # Wait time (seconds) for a connection

# MySQL DB info
MYSQL_URL_FORMAT='{driver}://{user}:{password}@{host}:{port}/{database}?charset={charset}'
MYSQL_DRIVER=mysql
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_HOST=mysqldb
MYSQL_PORT=3306
MYSQL_DATABASE=test
MYSQL_CHARSET=utf8

AWS_ACCESS_KEY_ID = 'test'
AWS_SECRET_ACCESS_KEY = 'test'
DEFAULT_REGION = 'us-east-1'
UPLOAD_BUCKET = "test-bucket"
